/* #timer {
    font-size: 6em;
} */

html {
    scroll-behavior: smooth;
  }

.card {
    height: 80%;
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -webkit-border-radius: 0.4167rem;
    -moz-border-radius: 0.4167rem;
    -ms-border-radius: 0.4167rem;
    -o-border-radius: 0.4167rem;
    border-radius: 0.4167rem;
}

.card .card-body p {
    margin-bottom: 0.5rem;
}

/* Backgrounds */

.card.cube-button-active {
    color: #FFFFFF;
    background-color: #55d3f5 !important;
}

.cube-button {
    color: #FFFFFF;
    background-color: #4f5b60 !important;
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.05);
}

.bg-success {
    color: #FFFFFF;
    background-color: #0ad251 !important;
}

.bg-info {
    color: #FFFFFF;
    background-color: #55d3f5 !important;
}

.bg-warning {
    color: #ac9a02 !important;
    background-color: #fce418 !important;
}

.bg-danger {
    color: #FFFFFF;
    background-color: #f43a59 !important;
}

.bg-light {
    background-color: #F7F7FA !important;
}

.bg-tranparent {
    background-color: transparent !important;
}

div.scroll-area {
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
    border-radius: 10px; 
}

#session-button-panel {
    max-height: 340px;
    height: 340px;
}

.selected-cube {
    background-color: #4f5b60;
}

table {
    table-layout: fixed;
}

td.scramble {
    /* overflow-x: scroll; */
    display:block;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-y:hidden;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 40px;
    margin-right: 40px;
    border-style: inset;
    border-width: 1px;
    

}

.timer-waiting {
    color: red;
}

.timer-ready {
    color: greenyellow;
}

.nav-item .active {
    border-bottom: 3px solid #55d3f5;
    color: #55d3f5;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}